html, body, div, span, applet, object, iframe, h1, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { overflow-y: scroll; }

body {
  width: 100%;
  background: #BBD6D6;
  font-size: 100%;
  line-height: 1;
}

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
img { 
	border: 0; 
	max-width: 100%;
}

h1 {
  font-size: 3.6em;
  line-height: 1.3em;
  font-weight: 700;
  color: #484848;
  text-align: center;
  letter-spacing: -0.05em;
  margin-bottom: 15px;
}

p {
  font-size: 1.7em;
  line-height: 1.5em;
  margin-bottom: 20px;
  color: #616161;
}

#homebanner{
	 width: 500px;
     display:block;
     margin:0 auto;
     text-decoration: none;
}

#homebanner span{
     display:block;
     margin:0 auto;
     width: 500px;
     font-family: Verdana;
     font-size: 40px;
     font-weight: bold;
     color: #555555;
}

#credential {
	float: right;
	margin: 0 auto;
	top: -25;
	position: relative;
}

#banner{
     display:block;
     margin:0 auto;
}

#banner img{
     display:block;
     margin:0 auto;
}
/****/
.ios-scroll-wrapper {
	-webkit-overflow-scrolling: touch;
  	/* important:  dimensions or positioning here! */
}

/** page structure for content sliding effect**/
#wrapper {
    width:100%;
    height:100%;
    position:absolute;
    overflow-x:hidden;
}

#mask {
    width:200%;
    height:100%;
}

.panel {
    width:50%;
    height:100%;
    float:left;
    margin: 0 auto;
}

#content {
  background: #fff;
  padding: 25px 65px;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  max-width: 1200px;
}

#readingpanel {
  background: #fff;
  padding: 25px 65px;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  max-width: 1200px;
  height: 100%;
}

#readingframe{
	width: 100%;
	height: 80%;
}

/** Normal/index page structure**/

header {
  display: block;
  width: 100%;
  height: 75px;
  background: #F1F1F1;
  padding: 15px 10px;
  margin-bottom: 25px;
}

#header {
	background: #F1F1F1;
}

#index-slogan{
	color: #555555;
	text-align: center;
	
}

#body {
  display: block;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 25px;
}

#footer {
  display: block;
  width: 100%;
  background: #F1F1F1;
  padding: 15px 10px;
}

#navbar {
  max-width: 1200px;
  margin: 0 auto;
  height: 45px;
}

#menubtn {
  /* needs positioning for z-index http://stackoverflow.com/a/10600930/477958 */
  position: relative; 
  z-index: 101;
  color: #555555;
  text-decoration: none;
  font-size: 0em;
  line-height: 0em;
  top: 18px;
  padding: 15px;
  background-image: url('../images/hamburger.png');
  background-position: 50% 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
#menubtn:hover, .openmenu .menubtn {
  color: #bdd43e;
  background-image: url('../images/hamburger-active.png');
}

/** toggle menu **/
body.openmenu {
  
}

#pgcontainer {
  padding: 0px 0;
  margin: 0 auto;
  height: 100%;
}

.overlay {
  position: fixed;
  z-index: 99;
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  right: 0;
  left: 0;
}

.openmenu .overlay {
  top: 0;
}


#idcloudmenu {
  height: 100%;
  width: 0;
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  -webkit-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
  -moz-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
  box-shadow: 3px 0 7px rgba(0,0,0,0.55);
}
#idcloudmenu ul {
  margin-top: 45px;
  z-index: 101;
  overflow-y: auto;
  overflow-x: hidden;
}
#idcloudmenu ul li {
  display: block;
}
#idcloudmenu ul li a {
  display: block;
  min-width: 130px;
  padding: 18px 8px;
  color: #BBD6D6;
  font-size: 1.45em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#idcloudmenu li a:hover {
  color: #fff;
  background: #2c2c2c;
}

#idcloudbanner{
	margin: 0 auto;
}

#readingback{
	margin: 10px 0px;
}

#readingedit{
	margin: 10px 0px;
}

#readingback:hover{
	color: #bdd43e;
}

#readingedit:hover{
	color: #bdd43e;
}

/**Management**/
#tagpool{
	height: 300px;
	border: 1px solid black;
	padding: 5px 5px;
	line-height: 150%;
}

#tagpoolnew{
	height: 300px;
	border: 1px solid black;
	padding: 5px 5px;
}

/** this part is for draggable item**/
#tagcontainer{
	height: 700px;
	border: 1px solid black;
}

.draggableItem{
	
}

#tagFromBox{
	margin: 0 auto;
	width: 800px;
	height: 200px; 
	border: 1px solid #999;
	padding: 5px 5px;
	line-height: 150%;
}

#tagToBox{
	margin: 0 auto;
	width: 800px;
	height: 200px; 
	border: 1px solid #999;
	padding: 5px 5px;
	line-height: 150%;
}

.draggableItemHelper { 
	background: #d1d1d1;
}

.tag{
	margin: 2px;
}

#inspirationtable{
	width: 100%;
	border-collapse: collapse;
	color: #555555;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

table th{
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #F1F1F1;
	color: #555555;
	border: 1px solid #F1F1F1;
	padding: 3px 7px 2px 7px;
	font-weight: bold;
}

table td{
	border: 1px solid #F1F1F1;
	padding: 3px 7px 2px 7px;
	font-weight: bold;
}

/**Inspiration edit page style**/
#inspiration_editor-edit{
	width: 100%;
	height: 400px;
}


/**Inspiration publish page style**/
#inspiration_editor{
	width: 100%;
	height: 400px;
}

#publish_table tr td{
	border: 0px;
}

/**Credential Panel Style**/
#credential_table tr td{
	border: 0px;
	color: #555555;
}

/**Login page style**/
#login_table tr td{
	border: 0px;
}

/**New account page style**/
#account_table tr td{
	border: 0px;
}

/**Inspiration direct link page style**/
#directlinkhomediv {
	display: inline;
}

#directlinkeditdiv {
	display: inline;
	float: right;
}

#directlinkframe {
	width: 100%;
	height: 65%;
	border: solid 1px #aaaaaa ;
	overflow: scroll;
	border-radius: 4px;
}

#directlinktitle {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	margin: 5px 0px 10px 0px;
}
#directlinkdate{
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	margin: 5px 0px 10px 0px;
}

#directlinkauthor{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 5px 0px 10px 0px;	
}

#directlinktags{
	text-align: center ;
}

#directlinkarticle{
	height: 65%;
	overflow-y: scroll;
}

#socialintegrationtabs{
	margin: 25px 0px;
}
