html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary, time,
mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
}

#mtitle{
	color: #555555;
}

#mheader{
	background: #F1F1F1;
}

#mcontent{
	background: #BBD6D6;
}

#mmap, #map-canvas
{ 	width: 100%;
	height: 100%;
	padding: 0; 
}

/**lock screen**/
.LockOff { 
	display: none; 
    visibility: hidden; 
} 

.LockOn { 
	display: block; 
	visibility: visible; 
	position: absolute; 
	z-index: 999; 
	top: 0px; 
	left: 0px; 
	width: 105%; 
	height: 105%; 
	background-color: #ccc; 
	text-align: center; 
	padding-top: 20%; 
	filter: alpha(opacity=95); 
	opacity: 0.75; 
}